.side-bar {
  height: 100vh;
}

#map {
  height: 90vh;
}

#details{
  background-color: white;
  padding: 10px;
  overflow-x: scroll;
}

#pcode-details{
  // padding: 10px;
}

#pcode-form{
  margin-top: 0;
}

#pcode-form h4 {
  margin-top: 0;
  margin-bottom: 10px;
}

.stat-box {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
