{% extends "base.html" %}
{% block content %}
<div id="map"></div>
<div id="details"></div>
{% raw %}
  <script id="entry-template" type="text/x-handlebars-template">
    <section class="section">
      <div class="container">
        <h1 class="title">{{ postcode }}</h1>
        <p>
          <strong>Average Income:</strong> {{avg_income}}
        </p>
        <p>
          <strong>Income below threshold:</strong> {{income_below_threshold}}
        </p>
        <p>
          <strong>Places needed in one year:</strong> {{places_needed_1_year}}
        </p>
        <p>
          <strong>Places needed in five years:</strong> {{places_needed_5_year}}
        </p>
        <p>
          <strong>Places needed in ten years:</strong> {{places_needed_10_year}}
        </p>
        <p>
          <strong>Population growth:</strong> {{population_growth}}
        </p>
        <p>
          <strong>Child care needs score (one year):</strong> {{score_1_year}}
        </p>
        <p>
          <strong>Child care needs score (five years):</strong> {{score_5_year}}
        </p>
        <p>
          <strong>Child care needs score (ten years):</strong> {{score_10_year}}
        </p>
        <p>
          <strong>SEIFA score:</strong> {{seifa}}
        </p>
      </div>
    </section>
  </script>
{% endraw %}
{% endblock %}
