{% extends "base.html" %}
{% block content %}
<div class="columns">
  <div class="column is-3 side-bar">
    <div id="details">
      <div class="filter">
        <form id="filter-form">
          <h4 class="title">Filter:</h4>
          <p><strong>Forecast Period:</strong></p>
          <div class="field is-grouped">
            <div class="control">
              <label class="radio">
                <input type="radio" name="forecast" value="1" checked />
                Current
              </label>
              <label class="radio">
                <input type="radio" name="forecast" value="5" />
                5 years
              </label>
              <label class="radio">
                <input type="radio" name="forecast" value="10" />
                10 years
              </label>
            </div>
          </div>
          <p><strong>Age group:</strong></p>
          <div class="field is-grouped">
            <div class="control">
              <label class="radio">
                <input type="radio" name="age" value="0-4" checked />
                0 - 4 years
              </label>
              <label class="radio">
                <input type="radio" name="age" value="5-9" />
                5 - 9 years
              </label>
              <label class="radio">
                <input type="radio" name="age" value="10-14" />
                10 - 14 years
              </label>
            </div>
          </div>
          <div class="field">
            <div class="control">
              <button class="button is-primary">Submit</button>
            </div>
          </div>
        </form>
      </div>
      <form id="pcode-form">
        <h4 class="title">Seach by postcode:</h4>
        <p>Click on a dot below or:<p>
        <div class="field">
          <div class="control">
            <input type="input" name="postcode" id="pcode-field" class="input" placeholder="Search by postcode" />
          </div>
        </div>
        <div class="field">
          <div class="control">
            <button class="button is-primary">Submit</button>
          </div>
        </div>
      </form>
    </div>
    <div id="pcode-details"></div>
  </div>
  <div class="column is-9">
    <div id="map"></div>
  </div>
</div>
{% raw %}
  <script id="entry-template" type="text/x-handlebars-template">
    <section class="results">
      <div class="stat-box">
        <p><strong>Postcode</strong></p>
        <h1 class="title">{{ postcode.postcode }}</h1>
        <ul>
          {{#each postcode.lga}}<li>{{name}}</li>{{/each}}
        </ul>
      </div>
      <div class="stat-box">
        <p><strong>Need ranking:</strong></p>
        <h1 class="title">{{ score }}</h1>
      </div>
      <div class="stat-box">
        <p><strong>Age group:</strong></p>
        <h1 class="title">{{ age }} year(s)</h1>
      </div>
      <div class="stat-box">
        <p><strong>Centres needed in:</strong></p>
        <h4 class="title">One year: {{places_needed_1_year}}</h4>
        <h4 class="title">Five years: {{places_needed_5_year}}</h4>
        <h4 class="title">Ten years: {{places_needed_10_year}}</h4>
      </div>
      <div class="stat-box">
        <p><strong>Current Government funded places (within 5km)</strong></p>
        <h4 class="title">{{government_funded_places}}</h4>
      </div>
      <div class="stat-box">
        <p><strong>Child population growth:</strong></p>
        <h4 class="title">{{ population_growth }}%</h4>
      </div>
      <div class="stat-box">
        <p><strong>SEIFA score:</strong></p>
        <h4 class="title">{{seifa}}</h4>
      </div>
      <div class="stat-box">
        <p><strong>Media house price:</strong></p>
        <h4 class="title">${{ property_median_price }}</h4>
      </div>
    </section>
  </script>
{% endraw %}
{% endblock %}
