<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>GovHack 2017</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}" type="image/x-icon">
  </head>
  <body>
    <div class="top">
      <div class="container">
        <nav class="navbar">
          <div class="navbar-brand">
            <img src="{{ url_for('static', filename='img/logo.svg') }}" alt="New Kids on the Block" width="200">
          </div>
          <div class="navbar-item">
            <a class="navbar-link">Filters</a>
            <div class="filter">
              <form>
                <div class="control">
                  <label class="radio">
                    <input type="radio" name="forecast" value="1" checked />
                    Current
                  </label>
                  <label class="radio">
                    <input type="radio" name="forecast" value="5" />
                    5 years
                  </label>
                  <label class="radio">
                    <input type="radio" name="forecast" value="10" />
                    10 years
                  </label>
                </div>
                <div class="control">
                  <label class="radio">
                    <input type="radio" name="age" value="0-4" checked />
                    0 - 4 years
                  </label>
                  <label class="radio">
                    <input type="radio" name="age" value="5-9" />
                    5 - 9 years
                  </label>
                  <label class="radio">
                    <input type="radio" name="age" value="10-14" />
                    10 - 14 years
                  </label>
                </div>
                <div class="field">
                  <div class="control">
                    <button class="button is-primary">Submit</button>
                  </div>
                </div>
              </form>
              <form>
                <div class="field">
                  <div class="control">
                    <input type="input" name="postcode" class="input" placeholder="Search by postcode" />
                  </div>
                </div>
                <div class="field">
                  <div class="control">
                    <button class="button is-primary">Submit</button>
                  </div>
                </div>
              </form>
              <a href="/api/">Download data</a>
            </div>
          </div>
        </nav>
      </div>
    </div>
    <div id="app">
      {% block content %}{% endblock %}
    </div>
    <script src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/handlebars/handlebars.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBTXMbMze8OfMdzgK8z3y0R66NPO6eOoro&callback=initMap">
    </script>
  </body>
</html>
